@font-face {
  font-family: "norse";
  src: url("./assets/Norse-Bold.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "norse";
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.image {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background: url(/assets/halie-west-25xggax4bSA-unsplash.jpg) no-repeat center;
  background-size: cover;
}

.image-details {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 800;
  color: #f3f3f3;
}

.image-details p {
  position: fixed;
  bottom: 1rem;
  left: 17%;
}

.image-details a {
  color: inherit;
}

.image-logo {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.odin-logo {
  width: 6rem;
  padding: 1rem;
  padding-right: 0;
}

.odin-text {
  color: #f3f3f3;
  font-size: 4.5rem;
}
