@font-face {
  font-family: "norse";
  src: url("./assets/Norse-Bold.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

/* Image and Logo */
.image-section {
  background: url(./assets/halie-west-25xggax4bSA-unsplash.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  flex: 4;
  height: 100vh;
}

.image-logo {
  width: 100%;
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.odin-logo {
  height: 10rem;
  padding: 1rem;
  padding-right: 0;
}

.odin-text {
  color: #f3f3f3;
  font-family: "Norse";
  font-size: 6rem;
}

.image-details {
  font-size: 0.8rem;
  font-weight: 500;
  color: #f3f3f3;
}

.image-details p {
  margin-bottom: 1rem;
}

.image-details a {
  color: inherit;
}

/* form */
.form-section {
  flex: 6;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

/* form text */
.form-info {
  margin: 15vh 2.5rem 2.5rem;
  max-width: 70%;
}

.form {
  background-color: #fff;
  margin-top: 1rem;
}

/* form CTA */
.form h2 {
  font-size: 1.4rem;
  padding: 1.5rem 0;
  margin-left: 2.5rem;
}

/* form container*/
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem;
}
.form-div {
  display: flex;
  max-width: 70%;
}

.form-div > :last-child {
  padding-left: 10%;
}

label {
  display: block;
  font-size: .7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 4px;
}

input {
  display: block;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  font-size: 1rem;
  height: 2rem;
  width: 250px;
  padding: 5px 10px;
}

input:focus {
  border: 1px solid blue;
  outline: none;
}

.error,
input:invalid {
  border: 1px solid red;
}

.error-message {
  font-size: 12px;
  color: red;
}
/* form button */
.form-button {
  padding: 1rem 2.5rem;
}

.btn {
  background-color: #596D48;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  padding: 1rem 3.5rem;
  margin: 1.5rem 0;
  cursor: pointer;
}

.btn:hover {
  opacity: .8;
}

.form-button a {
  color: #596D48;
  font-size: 1.2rem;
  font-weight: 800;
}
