@font-face {
  font-family: "norse";
  src: url("./assets/Norse-Bold.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

/* Image and Logo */
.image-section {
  background: url(./assets/halie-west-25xggax4bSA-unsplash.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  flex: 4;
  height: 100vh;
}

.image-logo {
  width: 100%;
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.odin-logo {
  height: 10rem;
  padding: 1rem;
  padding-right: 0;
}

.odin-text {
  color: #f3f3f3;
  font-family: "Norse";
  font-size: 6rem;
}

.image-details {
  font-size: 0.8rem;
  font-weight: 800;
  color: #f3f3f3;
}

.image-details p {
  margin-bottom: 1rem;
}

.image-details a {
  color: inherit;
}

/* form */
.form-section {
  flex: 6;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

/* form text */
.form-section h3 {
  margin-top: 15vh;
  padding: 2.5rem;
  font-size: 1.4rem;
  max-width: 85%;
}

.form {
  background-color: #fff;
  padding-left: 2.5rem;
  margin-top: 1rem;
}

/* form CTA */
.form h2 {
  font-size: 1.4rem;
  padding: 1rem 0;
}

/* form grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: start;
  gap: 2rem 8rem;
  padding-bottom: 2rem;
}

.form-label {
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-input {
  display: block;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 1rem;
  height: 2rem;
  width: 250px;
  padding: 5px 10px;
}

.form-input:focus {
  border: 1px solid blue;
  outline: none;
}


/* form button */
.form-button {
  padding: 1rem 2.5rem
}

.btn {
  background-color: #596D48;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  padding: 1rem 3.5rem;
  margin: 1.5rem 0;
  cursor: pointer;
}

.form-button a {
  color: #596D48;
  font-weight: 800;
}
